.main-page {
    background-color:#1b2838 !important;
    width: 100%;
    height: 1288px;
}
.main-search{
    color: white !important;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.search-bar #search {
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df !important;
    font-size: 20px;
    background-image: none;
    background-color: #316282 !important;
    border-radius: 3px;
    border: 1px solid rgba( 0, 0, 0, 0.3);
    box-shadow: 1px 1px 0px rgb(255 255 255 / 20%);
    color: #fff !important;
    margin-bottom: 0px;
    outline: none;
    height: 50px;
    width: 30%;
    margin: 0px 6px 0px 0px;
    padding-left: 10px;
    
  }

.steam-search-btn {
    background-image: url('https://cdn.discordapp.com/attachments/607743975595704349/1009476630563012618/unknown.png');
    background-size: cover;
    height: 50px;
    width: 50px;
}

.seach-genre-list {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.seach-genre-list .genre-button {
    margin: 10px;
    background: transparent;
    width: 5%;
    height: 30px;
    border-radius: 4%;
    border-color: #b8b6b4 !important;
    color: #b8b6b4 !important;
    font-size: 8px;
}

.genre-button:hover{
    background: #454b53 !important;
    color: #fff !important;
}

.genre-button:focus {
    background: #4fb49c !important;
    color: #fff !important;
}

.randomgame-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.randomgame {
    justify-content: center;
    margin: 20px;
    padding-left: 50px;
}

.randomgame-image {
    margin: 10px;
    justify-content: center;
    width:18%;
}

.discount-title {
    padding-top: 40px;
    padding-left: 80px;
    width:10%;
}


